.center{
text-align: center;
}
.colo{
    background-color: lightgreen;
    color: green;
    width: 50%;
}
q{
    font-weight: 700;
    margin-left: 50px;
}
ul li{
    list-style-type: none;
}
button:hover{
    background-color: lightgreen;
}
button{
    background-color: skyblue;
}
.green{
    background-color: lightgreen;
}